# Building Good Training Sets – Data Pre-Processing

# Dealing with missing data

We typically see missing values as the blank spaces in our data table or as placeholder strings such as NaN (Not A Number)

Lets create a simple example

In [1]:
import pandas as pd
from io import StringIO

csv_data = u'''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''

# If you are using Python 2.7, you need
# to convert the string to unicode:
# csv_data = unicode(csv_data)

df = pd.read_csv(StringIO(csv_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

For a larger DataFrame, it can be tedious to look for missing values manually

In [2]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

<br>
<br>

## Eliminating samples or features with missing values

One of the easiest ways to deal with missing data is to simply remove the corresponding features (columns) or samples (rows) from the dataset entirely.

In [3]:
df.dropna()

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [4]:
# drop columns
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [5]:
# only drop rows where all columns are NaN
df.dropna(how='all')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [6]:
# drop rows that have not at least 4 non-NaN values
df.dropna(thresh=4)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [7]:
# only drop rows where NaN appear in specific columns (here: 'C')
df.dropna(subset=['C'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN

<br>
<br>

## Imputing missing values

We can use different interpolation techniques to estimate the missing values from the other training samples in our dataset.

Most common is mean imputation

In [8]:
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [11]:
# from sklearn.preprocessing import Imputer
from sklearn.impute import SimpleImputer

imr = SimpleImputer(missing_values='NaN', strategy='mean')
imr = imr.fit(df)
imputed_data = imr.transform(df.values)
imputed_data

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [9]:
df.values

array([[  1.,   2.,   3.,   4.],
       [  5.,   6.,  nan,   8.],
       [ 10.,  11.,  12.,  nan]])

<br>
<br>

# Handling categorical data

It is not uncommon that real-world datasets contain one or more categorical feature columns.

Categorical data 
- nominal 
- ordinal (<,>)

In [10]:
import pandas as pd

df = pd.DataFrame([['green', 'M', 10.1, 'class1'],
                   ['red', 'L', 13.5, 'class2'],
                   ['blue', 'XL', 15.3, 'class1']])

df.columns = ['color', 'size', 'price', 'classlabel']
df

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

<br>
<br>

## Mapping ordinal features

In [11]:
size_mapping = {'XL': 3,
                'L': 2,
                'M': 1}

df['size'] = df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

In [12]:
inv_size_mapping = {v: k for k, v in size_mapping.items()}
df['size'].map(inv_size_mapping)

0     M
1     L
2    XL
Name: size, dtype: object

<br>
<br>

## Encoding class labels

In [13]:
from sklearn.preprocessing import LabelEncoder

class_le = LabelEncoder()
y = class_le.fit_transform(df['classlabel'].values)
y

array([0, 1, 0], dtype=int64)

In [14]:
class_le.inverse_transform(y)

array(['class1', 'class2', 'class1'], dtype=object)

## Processing on nominal features

In [15]:
df

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

In [16]:
pd.get_dummies(df[['price', 'color', 'size']])

   price  size  color_blue  color_green  color_red
0   10.1     1           0            1          0
1   13.5     2           0            0          1
2   15.3     3           1            0          0

<br>
<br>

# Bringing features onto the same scale

In [29]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
X_train_norm = mms.fit_transform(X_train)
X_test_norm = mms.transform(X_test)

In [30]:
from sklearn.preprocessing import StandardScaler

stdsc = StandardScaler()
X_train_std = stdsc.fit_transform(X_train)
X_test_std = stdsc.transform(X_test)